@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.bg-hero-gradient {
  background: linear-gradient(180deg, #E3F2F9 0%, #BEE6F3 100%);
}

.smooth-scroll {
  scroll-behavior: smooth;
}
